.container{
    width: 100%;
    display: flex;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

h1 h2 h3 h4 h5 h6{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}

h1{
    font-weight: 300;
}

h2{
    text-align: center;
    font-size: 60px;
}

h3{
    padding: 15px 20px 0 20px;
    margin: 0;
    margin-block-end: 0;
    text-transform: uppercase;
    font-size: 28px;

}

/*Header*/
.head_img{
    background-image: url(/img/2010-hus-i-træ.jpg);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 30%;
    background-size: 100%;
    padding: 300px;
}

.headerbox{
    display: flex;
}

.headerbox h1{
    font-size: 80px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 0;
    margin-left: 15px;
}

.navn{
    align-content: flex-end;
    display: block;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    width: 100%;
    background-color: black;
}

nav ul{
    margin: 0;
    padding: 5px;
    font-size: 25px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

nav a{
    padding: 17px 25px;
    color: white;
    text-decoration: none;
    display: block;
}

nav a:hover{
    background-color: darkred;
}

.header__container{
    margin: 114px 0 102px 0;
}

/*Body*/
/*News del*/
.News{
    margin: 0 45px;
    display: flex;
    font-size: 25px;
    color: rgb(121, 121, 121);
}

.News1{
    margin: 0 40px 60px 40px;
}

.News2{
    margin: 0 40px 60px 40px;
}
/*salger del*/
.salg{
    display: flex;
    justify-content: center;
    background-color: rgb(187, 186, 186);
    margin: 30px 30px 0 30px;
}

.salg img{
    justify-content: center;
    height: 400px;
    width: 550px;
}

.salg_box{
    margin: 80px 40px;
    background-color: white;
}

.salg_box-2{
    margin: 85px 0;
    background-color: white;
}

.salg_box p{
    padding: 0 20px;
}

.salg_box-pris{
    margin-top: 30px;
}
/*Udvalgs del*/
.img_se{
    background-image: url(/img/5642_Hejrelunden_20.jpg);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    background-size: 150%;
    height: 600px;
    margin: 0 30px 0 30px;
}

.text_in_img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(80% - 35px);
}

.text_in_img a{
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
    font-size: 28px;
    color: white;
    padding: 15px 60px;
    margin: 0;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border: 5px solid white;
    text-transform: uppercase;
    text-decoration-line: none;
}

/*Footer*/
footer{
    background-color: rgb(61, 60, 60);
    margin: 0 30px 0 30px;
}

.foote{
    display: flex;
    justify-content: flex-end;
    color: gray;
    padding: 0 50px;
    font-size: 50px;
}

.foote_icone{
    margin: 5px;
}

.foot{
    display: flex;
    justify-content: space-between;
    color: gray;
    height: 400px;
    padding: 30px 300px;
    padding-left: 0;
    font-size: 25px;
}

.foot li{
    list-style-type: none;
}

.foot_box1{
    margin: 30px;
    padding-right: 100px;
}

.mail{
    text-decoration: underline;
}
/*Before*/
.pil::before{
    content: '';
    display: block;
    height: 10px;
    width: 10px;
    border: 20px;
    border-color: black;
    border-style: solid;
    position: relative;
    top: -25px;
    left: calc(50% - 35px);
    transform: rotate(135deg);
    clip-path: polygon(-9px -10px, -9.28% 110.72%, 107.86% 107.86%);
}